<!DOCTYPE html>
<html>
    <body>
         <% include partials/nav.ejs %>

<p>Hello we are creating App component with all the props that we need. App.propTypes is used for props validation. If some of the props aren't using correct type that we assigned, we will get console warning. After we specified validation patterns, we are setting App.defaultProps.
</p>


    </body>

</html>